@import '~styles/shared';

.card {
  color: white;
  height: 125px;
  width: 75px;
  border: 2px solid black;
  border-radius: 5%;

  &--air {
    background-color: $c-air;
  }

  &--land {
    background-color: $c-land;
  }

  &--sea {
    background-color: $c-sea;
  }

  &--face-down {
    background-color: $c-flipped;
  }

  &--self {
    cursor: pointer;

    // hover-grow related properties
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;

    &:hover,
    &:focus,
    &:active {
      transform: scale(1.1);
    }
  }

  &--self-theater,
  &--opponent-theater {
    margin-right: -50px;
  }
}
