.game-info {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__opponent {
    &-cards {
      display: flex;
      justify-content: center;
      gap: 0.5em;
    }
  }

  &__self {
    border: 2px solid green;
    border-radius: 10%;
  }
}
